table{
    width: 25px;
    height:30px;
}
table, th, td {
    border: 1px solid black;
    width: 50%;
    height:70%;
}
.input{
    margin-left: 40%;
    display: inline-block;
    margin-top: 5px;
    color: grey;
    border-radius: 2px;
    border: 2px solid black;
}
table{
    margin-left: 90px;
}
.input:hover{
    color: red;
}
body{
    background-image: url("my images/dande.jpg");
    background-position: cover;
}
